main.container-wrapper {
	padding-left: 0px;
	padding-right: 0px;
	color: #000;
}
main.container-wrapper .main-header-wrapper {
	padding: 5px 25px;
	border-bottom: 1px solid rgba(160, 160, 160, 0.5);
	background-color: rgba(204, 204, 204, 0.1);
}
main.container-wrapper .main-header-wrapper span.header-text {
	font-size: 22px;
	color: #000000;
	font-family: "Myriad Pro";
	text-transform: uppercase;
}
main.container-wrapper .content-wrapper {
	position: relative;
	background-color: #d3d3d333;
}
#sidebar{
    height: 100%;
 /* width: 400px; */
    background-color:white;
    /* position: fixed!important; */
    z-index: 1;
    overflow: auto;
    padding-left: 15px;
}

.noUi-horizontal {
    height: 10px !important;
}

.noUi-handle{
    width: 20px !important;
    height: 20px !important;
}

#content{
    margin-top:10px;
}
#display{
    margin-left: 0px;
    height: 100%;
}
nouislider{
    margin-left: 20px;
    width: 300px;
}
#Date{
    margin-left: 20px;
    width: 275px;
    outline: none;
    padding: 2px 10px 0px;
    line-height: 24px;
    opacity: 1;
    /* margin: 7px 15px; */
    font-size: 14px;
}

button.btn-primary {
	background-color: #4d84c4;
	border-color: #4d84c4;
	opacity : 20;
	border-radius: 5px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "Myriad Semi Bold";
	padding: 5px 16px;
    box-shadow: none !important;
    margin-left: 20px;
}

main.container-wrapper button .content-wrapper .sliderDiv button{
    margin-left: 20px;
    border: none;
    outline: none;
    padding: 6px 45px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px;
    
}
#header{
    padding-left: 450px;
    font-size: 40px;
    color:whitesmoke;
    font-family: Times;
    text-align: center;
    background-color: #3f51b5;
    overflow: hidden;
    padding: 30px 10px;
    
}

#sliderDiv {
     width:330px;
 }
.ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}
 
.ui-slider-popup {
    position: absolute !important;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    padding-top: 14px;
    z-index: 100;
    opacity: 0.8;
}

#sidebar-left{
    float:left;
    width:30%;
    color:black;
    border-right: 1px solid #ccc;

}

#main{
    float:left;
    width:70%;
    background-color: #d3d3d333;
    overflow-x: scroll;
    overflow-y:scroll;


}

#footer{
    clear:both;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

#sidebar-left, #main, #sidebar-right{
    min-height: 660px				
}