<main id="homepage">
    <section id="Banner">
        <div class="BannerImg">
            <div class="banner-wrapper">
                <span class="banner-title">Data Insights for Manufacturing Excellence</span>
                <p class="banner-subtitle">Data Insights for Manufacturing Excellence empowers Data Engineers with
                    self-service analytics features and
                    drastically minimizes the development time for deriving the insights from raw data. This Platform
                    integrates
                    various big data and analytics solutions under one integrated package</p>
            </div>
        </div>
    </section>

    <section id="DataSection">
        <div class="DataContainer">
            <div class="DataBlock">
                <div class="DataIcon">
                    <img src="../../assets/images/Data_analytics.png">
                </div>
                <div class="DataContent">
                    <h2>DATA ANALYTICS</h2>
                    <p>Interactive querying and data analytics using multiple languages.</p>
                </div>
            </div>


            <div class="DataBlock">
                <div class="DataIcon">
                    <img src="../../assets/images/data_visualization.png">
                </div>
                <div class="DataContent">
                    <h2>DATA VISUALIZATION</h2>
                    <p>Representation the data in form of graphs and charts for decision making.</p>
                </div>
            </div>

            <div class="DataBlock mBIDS">
                <div class="DataIcon">
                    <img src="../../assets/images/mBDS.png">
                </div>
                <div class="DataContentmBIDS">
                    <h2>mBIDS</h2>
                    <p>TCS mBIDS is an industry proven blueprints for
                        manufacturing domain.</p>
                </div>
            </div>

            <div class="DataBlock DataIngestion">
                <div class="DataIcon">
                    <img src="../../assets/images/Data_ingestion.png">
                </div>
                <div class="DataContent">
                    <h2>DATA INGESTION</h2>
                    <p>Ingestion of Raw Data from different Sources.</p>
                </div>
            </div>

            <div class="DataBlock DataWrangling">
                <div class="DataIcon">
                    <img src="../../assets/images/Data_wrangling.png">
                </div>
                <div class="DataContent">
                    <h2>DATA WRANGLING</h2>
                    <p>Cleaning, structuring and enriching of Raw Data.</p>
                </div>
            </div>

            <div class="DataBlock DataLineage">
                <div class="DataIcon">
                    <img src="../../assets/images/Data_lineage.png">
                </div>
                <div class="DataContent">
                    <h2>DATA LINEAGE</h2>
                    <p>Provides Data origin & where it moves over time.</p>
                </div>
            </div>

        </div>
        <!-- <img id="zoom_02" src="../../assets/images/image3_small.png" data-zoom-image="../../assets/images/image3_large.jpg"
            alt="logo" /> -->
    </section>
</main>